#main {
   background-color: hsl(190, 9%, 77%);
   display: flex;
   flex-direction: column;
  flex-basis: 75%;
}

#title {
  text-align: center;
 }

#img-div {
  background-color: white;
}
#image {
 
  max-width: 633px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#img-caption {
  text-align: center;
}

.list {
  
    margin-bottom: 5px;
}
  
#qoute {
  font-size: 13px;
  font-style: italic;
}
